:root {
  --main: #fff;
  --secondary: #ED3E8E;
  --tertiary: #989898;
  --gap: 24px;
  --blue: #231E5C;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: .36px;
  color: var(--main);
  &.active {
    height: 100dvh;
    overflow: hidden;
  }
}
#wrapper {
  overflow-x: hidden;
}
.radial-gradient {
  background: 
  radial-gradient(at top left, #ED3E8E 20%, #231E5C),
  radial-gradient(farthest-side at bottom left, #231E5C 30%,#ED3E8E),
  radial-gradient(at bottom right, #ED3E8E 80%, #231E5C);
}
h1, h2, h3 {
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 4.8rem;
  font-weight: 800;
  letter-spacing: .96px;
  text-transform: uppercase;
  line-height: 1.2;
}
h3 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: .6px;
  text-transform: uppercase;
}
p {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  overflow: hidden;
}
header {
  position: relative;
  .container {
    overflow: unset;
  }
  .inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    line-height: 1.2;
  }
  .wrapper {
    position: relative;
    display: flex;
  }
  .links {
    display: flex;
    align-items: center;
    gap: 30px;
    .social-media-link {
      line-height: 0;
    }
    & img {
      height: 26px;
    }
  }
  .link {
    font-size: 2rem;
  }
}
.social-media-link:hover {
  -webkit-animation: bounce-up-down 1.5s infinite;
  -moz-animation: bounce-up-down 1.5s infinite;
  -o-animation: bounce-up-down 1.5s infinite;
}
.main {
  width: 100%;
  padding: 34px 80px 34px 100px;
}
a {
  text-decoration: none;
  color: var(--main);
}
a:hover, a:visited, a:active {
  color: inherit;
}
nav {
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
  position: absolute;
  top: 100%;
  right: 100px;
  background-color: #fff;
  width: calc(100% - 100px);
  height: calc(100dvh - 100px); 
  z-index: 2;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .menu-menu-1-container {
    height: 100%;
  }
  .menu {
    height: 100%;
    .menu-item {
      height: calc(100% / 7);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-bottom: 1px solid #231E5C;
      & a {
        width: 100%;
        color: #231E5C;
        font-size: 4rem;
        letter-spacing: .96px;
        font-weight: 800;
        padding: 0 80px;
        display: block;
        transition: all .25s ease-in-out;
        cursor: pointer;
        text-align: right;
      }
      
    }
  }
}
.menu {
  .menu-item:hover {
    border-bottom: 1px solid var(--secondary);
    & a {
      color: var(--secondary);
    }
  }
}
.info {
  display: flex;
  gap: 16px;
  & span {
    font-weight: 800;
    font-size: 2rem;
    & br {
      display: none;
    }
  }
  .divider {
    font-weight: normal;
  }
}
.link {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.4rem;
  color: #fff;
  text-transform: uppercase;
}
.arrow-link {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.arrow-link span {
  position: relative;
  display: inline-block;
}
.arrow-link span:after {
  content: "";
  display: block;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: all .5s ease-in-out;
}
.arrow-link img {
  width: 28px;
  object-fit: contain;
}
.arrow-link:hover, .arrow-link:active {
  & span:after {
    width: 100%;
  }
  & img {
    -webkit-animation: bounce 1.5s infinite;
	  -moz-animation: bounce 1.5s infinite;
	  -o-animation: bounce 1.5s infinite;
  }
}
.side {
  width: 100%;
  max-width: 100px;
  padding: 80px 0;
}
.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border-left: 1px solid #fff;
  padding: 0;
  cursor: pointer;
  & span {
    display: block;
    width: 100%;
    max-width: 51px;
    border-top: 1px solid #fff;
    transition: all .3s ease-in-out;
  }
  &.active {
    & span:first-child {
      position: absolute;
      transform: rotate(45deg);
    }
    & span:nth-child(2) {
      display: none
    }
    & span:last-child {
      transform: rotate(-45deg);
    }
  }
}
.side-content {
  width: 100%;
  white-space: nowrap;
  min-width: 100px;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  letter-spacing: .6px;
  font-weight: 800;
  overflow: hidden;
}
.section .container {
  display: flex;
}
.banner-section {
  isolation: isolate;
  .side-content {
    border-left: 1px solid #fff;
  }
  .inner-wrapper {
    position: relative;
    display: flex;
    padding: 0;
    .main-content {
      position: absolute;
      width: 100%;
      max-width: 908px;
      top: 10%;
      left: 10%;
      z-index: 2;
    }
  }
  .main-content-logo {
    margin-bottom: 70px;
  }
  .main-content-content {
    width: 100%;
    max-width: 644px;
    margin-left: auto;
  }
  .link {
    margin-top: 70px;
  }
  .main-image {
    line-height: 0;
    margin-left: auto;
    overflow: hidden;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }
  }
  .banner-slider {
    .splide__slide {
      max-height: 1000px;
      overflow: hidden;
    }
    .splide__pagination {
      bottom: 40px;
      gap: 8px;
      & li {
        .splide__pagination__page {
          border-radius: 0;
          width: 80px;
          height: 3px;
          background: #fff;
          opacity: 1;
          &.is-active {
            transform: unset;
            background: var(--secondary);
          }
        }
      }
    }
  }
}
.about-us-section {
  .side-content {
    border-right: 1px solid #fff;
  }
  .main-content {
    display: flex;
    gap: 90px;
    width: 100%;
    max-width: 1560px;
    margin: 80px;
    .main-content-details {
      max-width: 850px;
    }
  }
  & h2 {
    white-space: nowrap;
  }
}
#main-slider {
  width: 100%;
  max-width: 1440px;
  margin: 80px 80px 0;
}
.splide__arrow {
  background: none;
  width: 52px;
  height: 57px;
  border-radius: 0;
}
.splide__arrow--prev {
  display: none !important;
}
.splide__arrow--next {
  right: -80px;
}
.food-section {
  .side-content {
    border-left: 1px solid #fff;
  }
  .wrapper:first-child {
    background-color: var(--secondary);
    border-bottom: 1px solid #fff;
  }
  .wrapper:last-child {
    background-color: var(--blue);
  }
  .inner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .inner-wrapper {
    width: 100%;
    max-width: 1560px;
    margin: 80px;
    margin-left: auto;
    display: flex;
    gap: 80px;
    align-items: center;
  }
  .food-content {
    width: 100%;
    max-width: 620px;
    & h2 {
      margin-bottom: 1em;
    }
  }
  .food-content-details {
    margin-bottom: 50px;
  }
  .food-image {
    position: relative;
    width: 100%;
    max-width: 833px;
  }
}
.food-text-image {
  position: absolute;
  z-index: 2;
}
.top-food-section {
  .food-text-image {
    width: 100%;
    max-width: 616px;
    transform: translate(-25%, -50%);
  }
}
.bottom-food-section {
  .food-text-image {
    width: 100%;
    max-width: 616px;
    transform: translate(-20%, -50%);
  }
}
.beverage-section {
  overflow: hidden;
  .side-content {
    border-right: 1px solid #fff;
  }
  .inner-wrapper {
    position: relative;
    width: 100%;
    max-width: 1560px;
    margin: 80px;
    display: flex;
    gap: 80px;
  }
  .beverage-image {
    width: 100%;
    max-width: 612px;
  }
  .beverage-content {
    width: 100%;
    max-width: 835px;
    margin-top: 100px;
    & h2 {
      max-width: 600px;
      margin-bottom: 1em;
    }
  }
}
.beverage-text-image {
  position: absolute;
  width: 520px;
  bottom: -140px;
  right: -40px;
}
#footer {
  overflow: hidden;
  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .arrow-link {
    display: flex;
  }
  .footer-logo {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff;
    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 380px;
      min-height: 111px;
    }
  }
  .footer-social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px 20px 20px;
    .social-media-link {
      display: block;
      width: 24px;
      height: 24px;
      & img {
        height: 100%;
      }
    }
  }
  .footer-address {
    font-size: 2rem;
    letter-spacing: .4px;
    margin-bottom: var(--gap);
    font-weight: 800;
    letter-spacing: 0.4px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    letter-spacing: 0.4px;
    gap: 8px;
    & span {
      display: block;
    }
  }
  #copyright  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    & span {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  & .footer-inner-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-inner-wrapper:first-child {
    border-right: 1px solid #fff;
  }
  .arrow-link {
    margin: 1em;
    font-size: 2rem;
    gap: 10px;
    & img {
      height: 20px;
    }
  }
}
.food-section {
  & .splide__pagination {
    display: none;
    left: unset;
    bottom: -30px;
    & li {
      & .splide__pagination__page {
        background: transparent;
        height: 12px;
        width: 12px;
        border: 1px solid #fff;
        transition: all .3s ease-in-out;
        &.is-active {
          transform: unset;
          background: #fff;
        }
        &:hover, &:active {
          background: #fff;
        }
      }
    }
  }
}
@media screen and (max-width: 1750px) {
  html {
    font-size: 9px;
  }
  .banner-section {
    .inner-wrapper {
      .main-content {
        max-width: 750px;
      }
    }
    .link {
      margin-top: 63px;
    }
  }
  .about-us-section {
    .main-content {
      max-width: 1440px;
    }
  }
  .food-section {
    .inner-wrapper {
      max-width: 1440px;
    }
  }
  .top-food-section {
    .food-text-image {
      max-width: 550px;
    }
  }
  .bottom-food-section {
    .food-text-image {
      max-width: 750px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .banner-section {
    .inner-wrapper {
      .main-content {
        max-width: 700px;
      }
    }
  }
  .side-content {
    min-width: 80px;
  }
  #main-slider {
    max-width: 1280px;
    margin: 70px 70px 0;
  }
  .about-us-section {
    .main-content {
      max-width: 1280px;
    }
  }
  .food-section {
    .inner-wrapper {
      max-width: 1280px;
    }
  }
  .beverage-section {
    .inner-wrapper {
      margin: 70px;
    }
  }
}
@media screen and (max-width: 1400px) {
  .banner-section {
    .main-image {
      max-height: 100%;
    }
    .banner-slider {
      height: 100%;
      .splide__track {
        height: 100%;
        .splide__slide img {
          height: 100%;
        }
      }
    }
  }
  .main {
    padding: 25px 60px;
  }
  .side {
    max-width: 80px;
  }
  nav {
    right: 80px;
    width: calc(100% - 80px);
    height: calc(100dvh - 80px);
  }
  .banner-section {
    .inner-wrapper {
      .main-content {
        max-width: 650px;
      }
    }
  }
  #main-slider {
    max-width: 1080px;
    margin: 60px 60px 0;
  }
  .about-us-section {
    .main-content {
      max-width: 1080px;
    }
  }
  .food-section {
    .inner-wrapper {
      max-width: 1140px;
    }
  }
  .top-food-section {
    .food-text-image {
      max-width: 350px;
    }
  }
  .bottom-food-section {
    .food-text-image {
      max-width: 450px;
    }
  }
  .beverage-section {
    .inner-wrapper {
      margin: 60px;
    }
  }
}
@media screen and (max-width: 1199px) {
  .menu-icon {
    gap: 12px;
    & span {
      max-width: 40px;
    }
  }
  .main {
    padding: 0 30px;
  }
 
  .link {
    font-size: 2rem;
  }
  header {
    .inner-wrapper {
      width: calc(100% - 60px);
    }
    .links {
      .social-media-link:first-child {
        width: 30px;
      }
      .link {
        display: none;
      }
    }
  }
  .menu-icon {
    width: 60px;
    height: 60px;
  }
  nav {
    right: 60px;
    width: calc(100% - 60px);
    height: calc(100dvh - 60px);
    .menu {
      .menu-item {
        display: flex;
        align-items: center;
        & a {
          font-size: 4rem;
          padding: 30px;
        }
      }
    }
  
  }
  .side {
    width: 60px;
    font-size: 2rem;
  }
  .side-content {
    min-width: unset;
    max-width: unset;
  }
  .banner-section {
    .inner-wrapper {
      width: calc(100% - 60px);
      .main-content {
        max-width: 650px;
      }
    }
    .splide__pagination {
      display: none;
    }
  }
  #main-slider {
    width: 100%;
    margin: 0;
    .splide__arrow {
      display: none;
    }
  }
  .about-us-section {
    .inner-wrapper {
      width: calc(100% - 60px);
      padding: 40px;
    }
    .main-content {
      flex-direction: column;
      gap: 0;
      margin: 0;
      padding: 40px 0;
      & h2 {
        margin-bottom: 1em;
      }
      .arrow-link {
        margin-top: 45px;
      }
    }
  }
  .food-section {
    .food-content {
      max-width: unset;
    }
    .inner-wrapper {
      margin: 0;
      padding: 40px;
      flex-direction: column;
      align-items: flex-start;
    }
    .inner-container {
      width: calc(100% - 60px);
    }
    .food-image {
      max-width: calc(100% - 80px);
      margin-left: auto;
      margin-bottom: 40px;
    }
  }
  .beverage-section {
    .inner-wrapper {
      margin: 0;
      padding: 40px;
      max-width: calc(100% - 60px);
      flex-direction: column-reverse;
      gap: 40px;
    }
    .beverage-content {
      margin-top: 0;
    }
  }
  .beverage-text-image {
    position: absolute;
    width: 320px;
    bottom: -35px;
    right: 20px;
  }
  #footer {
    #view-map {
      justify-content: center;
    }
    .contact {
      align-items: center;
    }
    .footer-address {
      margin-bottom: 0;
    }
    > .container {
      flex-direction: column;
      gap: 40px;
    }
    #copyright {
      .container {
        padding: 40px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .banner-section {
    .main-content-logo {
      margin-bottom: 30px;
    }
    .inner-wrapper {
      .main-image {
        height: calc(100dvh - 60px);
        .splide__slide {
          max-height: 100%;
          img {
            height: 100%;
          }
        }
      }
    }
  }
  .info {
    gap: 30px;
    .divider {
      display: none;
    }
    & span {
      font-size: 1.8rem;
    }
  }
  .info {
    width: 100%;
    justify-content: space-between;
  }
  header {
    .links {
      display: none;
    }
  } 
}
@media screen and (max-width: 767px) {
  .info span {
    & br {
      display: block;
    }
  }
  .banner-section {
    .inner-wrapper {
      min-height: 670px;
      align-items: center;
      justify-items: center;
      padding: 0;
      .main-content {
        max-width: calc(100% - 60px);
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
  h2 {
    font-size: 4rem;
  }
  .food-section .food-image {
      max-width: calc(100% - 40px);
      margin-left: auto;
      margin-bottom: 40px;
  }
  .beverage-text-image {
    display: none;
  }
  #footer {
    .footer-logo {
      padding: 0;
      border-bottom: 0;
    }
    .arrow-link {
      margin-bottom: 0;
    }
    .footer-wrapper {
      flex-direction: column;
      .footer-inner-wrapper {
        width: 100%;
        padding: 30px;
        &:first-child {
          border-right: 0;
          border-bottom: 1px solid #fff;
        }
      }
    }
    #copyright .container {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      gap: 15px
    }
  }
  .food-section .splide__pagination {
    bottom: -30px;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .info {
    gap: 30px;
    & span {
      font-size: 1.3rem;
    }
  }
  nav {
    .menu {
      .menu-item {
        & a {
          font-size: 3rem;
          padding: 30px;
        }
      }
    }
  }
  .section .side-content {
    display: none;
  }
  .banner-section, .beverage-section {
    .inner-wrapper {
      width: 100%;
      max-width: 100%;
      .main-content {
        padding: 30px;
        max-width: 100%;
      }
    }
  }
  .about-us-section {
    .inner-wrapper {
      width: 100%;
    }
  }
  .food-section {
    .inner-container {
      width: 100%;
    }
  }
}
.fadeUp {
  transition: 2s all ease-in-out;
  opacity: 0;
  transform: translate(0, 50px);
}
.fadeUp-10 {
  transition: 3s all ease-in-out;
  opacity: 0;
  transform: translate(0, 50px);
}
.fadeUp--anime {
  opacity: 1;
  transform: translate(0, 0);
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);}	
	40% {-webkit-transform: translateX(5px);}
	60% {-webkit-transform: translateX(15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateX(0);}
	40% {-moz-transform: translateX(5px);}
	60% {-moz-transform: translateX(15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateX(0);}
	40% {-o-transform: translateX(5px);}
	60% {-o-transform: translateX(15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
	40% {transform: translateX(5px);}
	60% {transform: translateX(15px);}
}
@-webkit-keyframes bounce-up-down {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(5px);}
	60% {-webkit-transform: translateY(-5px);}
}
 
@-moz-keyframes bounce-up-down {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(5px);}
	60% {-moz-transform: translateY(-5px);}
}
 
@-o-keyframes bounce-up-down {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(5px);}
	60% {-o-transform: translateY(-5px);}
}
@keyframes bounce-up-down {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(5px);}
	60% {transform: translateY(-5px);}
}
#Layer_1 {
  width: 28px;
  height: auto;
  .st0{fill:#FFFFFF;}
  .st3 {
    fill: none;
    transition-duration: .5s;
    transition-timing-function: linear
  }
}
#Layer_1:hover .st3 {
  fill: #fff;
}
