:root {
  --main: #fff;
  --secondary: ##ED3E8E;
  --tertiary: ##989898;
  --gap: 24px;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: .36px;
  background-image: url(../images/bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--main);
}
h1, h2, h3 {
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 4.8rem;
  font-weight: 800;
  letter-spacing: .96px;
}
h3 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: .6px;
  text-transform: uppercase;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #fff;
  .inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    line-height: 1.2;
  }
  .wrapper {
    display: flex;
  }
}
.main {
  width: 100%;
  padding: 34px 80px 34px 100px;
}
a {
  text-decoration: none;
  color: var(--main);
}
a:hover, a:visited, a:active {
  color: initial;
}
nav {
  display: none;
}
.info {
  font-weight: 800;
  font-size: 2rem;
}
.link {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
}
.side {
  width: 100%;
  max-width: 100px;
}
.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border-left: 1px solid #fff;
  cursor: pointer;
  & span {
    display: block;
    width: 100%;
    max-width: 51px;
    border-top: 1px solid #fff;
  }
}
.side-content {
  width: 100%;
  max-width: 100px;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  letter-spacing: .6px;
  font-weight: 800;
}
.section {
  border-bottom: 1px solid #fff;
  .container {
    display: flex;
  }
}
.banner-section {
  .side-content {
    border-left: 1px solid #fff;
  }
  .inner-wrapper {
    position: relative;
    display: flex;
    padding: 100px;
    .main-content {
      position: absolute;
      width: 100%;
      max-width: 908px;
    }
  }
  .main-content-logo {
    margin-bottom: 70px;
  }
  .main-content-content {
    width: 100%;
    max-width: 644px;
    margin-left: auto;
  }
  .link {
    display: block;
    margin-top: 70px;
  }
  .main-image {
    margin-left: auto;
  }
}
.about-us-section {
  .side-content {
    border-right: 1px solid #fff;
  }
}