:root {
  --main: #fff;
  --secondary: #ED3E8E;
  --tertiary: #989898;
  --gap: 24px;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: .36px;
  background-image: url(../images/bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--main);
  &.active {
    height: 100dvh;
    overflow: hidden;
  }
}
h1, h2, h3 {
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 4.8rem;
  font-weight: 800;
  letter-spacing: .96px;
  text-transform: uppercase;
  line-height: 1.2;
}
h3 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: .6px;
  text-transform: uppercase;
}
p {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
header {
  position: relative;
  border-bottom: 1px solid #fff;
  .inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    line-height: 1.2;
  }
  .wrapper {
    display: flex;
  }
}
.main {
  width: 100%;
  padding: 34px 80px 34px 100px;
}
a {
  text-decoration: none;
  color: var(--main);
}
a:hover, a:visited, a:active {
  color: inherit;
}
nav {
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
  position: absolute;
  top: 100%;
  right: 100px;
  background-color: #fff;
  width: calc(100% - 100px);
  height: calc(100dvh - 100px); 
  z-index: 2;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .menu-menu-1-container {
    height: 100%;
  }
  .menu {
    height: 100%;
    .menu-item {
      height: calc(100% / 6);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      & a {
        width: 100%;
        color: #231E5C;
        font-size: 4.8rem;
        letter-spacing: .96px;
        font-weight: 800;
        padding: 30px 80px;
        display: block;
        transition: all .25s ease-in-out;
        cursor: pointer;
        border-bottom: 1px solid #231E5C;
        text-align: right;
      }
      & a:hover {
        color: var(--secondary);
        border-bottom: 1px solid var(--secondary);
      }
    }
  }
}
.info {
  display: flex;
  gap: 16px;
}
.info span {
  font-weight: 800;
  font-size: 2rem;
}
.link {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.4rem;
  color: #fff;
  text-transform: uppercase;
}
.arrow-link {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.arrow-link span {
  position: relative;
  display: inline-block;
}
.arrow-link span:after {
  content: "";
  display: block;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: all .5s ease-in-out;
}
.arrow-link img {
  width: 28px;
}
.arrow-link:hover, .arrow-link:active {
  & span:after {
    width: 100%;
  }
  & img {
    -webkit-animation: bounce 1.5s infinite;
	  -moz-animation: bounce 1.5s infinite;
	  -o-animation: bounce 1.5s infinite;
  }
}
.side {
  width: 100%;
  max-width: 100px;
  padding: 80px 0;
}
.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border-left: 1px solid #fff;
  padding: 0;
  cursor: pointer;
  & span {
    display: block;
    width: 100%;
    max-width: 51px;
    border-top: 1px solid #fff;
    transition: all .3s ease-in-out;
  }
  &.active {
    & span:first-child {
      position: absolute;
      transform: rotate(45deg);
    }
    & span:nth-child(2) {
      display: none
    }
    & span:last-child {
      transform: rotate(-45deg);
    }
  }
}
.side-content {
  width: 100%;
  white-space: nowrap;
  max-width: 100px;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  letter-spacing: .6px;
  font-weight: 800;
}
.section {
  border-bottom: 1px solid #fff;
  .container {
    display: flex;
  }
}
.banner-section {
  .side-content {
    border-left: 1px solid #fff;
  }
  .inner-wrapper {
    position: relative;
    display: flex;
    padding: 100px;
    .main-content {
      position: absolute;
      width: 100%;
      max-width: 908px;
    }
  }
  .main-content-logo {
    margin-bottom: 70px;
  }
  .main-content-content {
    width: 100%;
    max-width: 644px;
    margin-left: auto;
  }
  .link {
    margin-top: 70px;
  }
  .main-image {
    margin-left: auto;
  }
}
.about-us-section {
  .side-content {
    border-right: 1px solid #fff;
  }
  .main-content {
    display: flex;
    gap: 90px;
    width: 100%;
    max-width: 1560px;
    margin: 80px;
    .arrow-link {
      margin-top: 57px;
    }
  }
  & h2 {
    white-space: nowrap;
  }
}
#main-slider {
  width: 100%;
  max-width: 1440px;
  margin: 80px 80px 0;
}
.splide__arrow {
  background: none;
  width: 52px;
  height: 57px;
  border-radius: 0;
}
.splide__arrow--prev {
  display: none !important;
}
.splide__arrow--next {
  right: -80px;
}
.food-section {
  .side-content {
    border-left: 1px solid #fff;
  }
  .wrapper {
    border-bottom: 1px solid #fff;
  }
  .inner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .inner-wrapper {
    width: 100%;
    max-width: 1560px;
    margin: 80px;
    margin-left: auto;
    display: flex;
    gap: 80px;
    align-items: center;
  }
  .food-content {
    width: 100%;
    max-width: 620px;
    & h2 {
      margin-bottom: 1em;
    }
  }
  .food-content-details {
    margin-bottom: 50px;
  }
  .food-image {
    position: relative;
    width: 100%;
    max-width: 833px;
  }
}
.food-text-image {
  position: absolute;
}
.top-food-section {
  .food-text-image {
    width: 100%;
    max-width: 616px;
    transform: translate(-25%, -50%);
  }
}
.bottom-food-section {
  .food-text-image {
    width: 100%;
    max-width: 616px;
    transform: translate(-20%, -50%);
  }
}
.beverage-section {
  overflow: hidden;
  .side-content {
    border-right: 1px solid #fff;
  }
  .inner-wrapper {
    position: relative;
    width: 100%;
    max-width: 1560px;
    margin: 80px;
    display: flex;
    gap: 80px;
  }
  .beverage-image {
    width: 100%;
    max-width: 612px;
  }
  .beverage-content {
    width: 100%;
    max-width: 835px;
    margin-top: 100px;
    & h2 {
      max-width: 600px;
      margin-bottom: 1em;
    }
  }
}
.beverage-text-image {
  position: absolute;
  width: 520px;
  bottom: -140px;
  right: -40px;
}
#footer {
  overflow: hidden;
  > .container {
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
  }
  .footer-logo {
    width: 100%;
    max-width: 400px;
  }
  .footer-address {
    font-size: 2rem;
    letter-spacing: .4px;
    margin-bottom: var(--gap);
    font-weight: 800;
    letter-spacing: 0.4px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    letter-spacing: 0.4px;
    gap: 8px;
    & span {
      display: block;
    }
  }
  #view-map {
    margin-top: 1em;
  }
  .map {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    height: 0;
    &.active {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }
  #copyright {
    border-top: 1px solid #fff;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 100px;
      & span {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 1750px) {
  html {
    font-size: 9px;
  }
  .banner-section {
    .main-image {
      width: 100%;
      max-width: 750px;
    }
    .inner-wrapper {
      .main-content {
        max-width: 750px;
      }
    }
    .link {
      margin-top: 63px;
    }
  }
  .about-us-section {
    .main-content {
      max-width: 1440px;
    }
  }
  .food-section {
    .inner-wrapper {
      max-width: 1440px;
    }
  }
  .top-food-section {
    .food-text-image {
      max-width: 550px;
    }
  }
  .bottom-food-section {
    .food-text-image {
      max-width: 750px;
    }
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 8px;
  }
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);}	
	40% {-webkit-transform: translateX(5px);}
	60% {-webkit-transform: translateX(15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateX(0);}
	40% {-moz-transform: translateX(5px);}
	60% {-moz-transform: translateX(15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateX(0);}
	40% {-o-transform: translateX(5px);}
	60% {-o-transform: translateX(15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
	40% {transform: translateX(5px);}
	60% {transform: translateX(15px);}
}